* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: "Telex", sans-serif;
}
.primary_font {
  font-family: "Catamaran", sans-serif;
}
.secondary_font {
  font-family: "Alegreya", serif;
}

.carousel_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.7s, opacity 0.5s;
}
@media only screen and (max-width: 600px) {
  .carousel_img {
    background-position: left;
  }
}

.popin_ani {
  animation: pop 2s linear 1;
}

@keyframes pop {
  0% {
    transform: scale(0.6);
  }

  25% {
    transform: scale(0.3);
  }

  50% {
    transform: scale(1.2);
  }

  75% {
    transform: scale(0.9);
  }
}

.slidetop_ani {
  animation: slidetop 1s ease-in 1;
}

@keyframes slidetop {
  0% {
    transform: translateY(-50%);
  }

  90% {
    transform: translateY(-50%);
  }
}

.slidebottom_ani {
  animation: slidebottom 1s ease-in 1;
}

@keyframes slidebottom {
  0% {
    transform: translateY(15%);
  }

  90% {
    transform: translateY(10%);
  }
}

.reveal_ani {
  color: white;
  opacity: 0;
  animation: reveal 1s ease-in 1;
  animation-fill-mode: both;
}

@keyframes reveal {
  0% {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  100% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
